[Unit]
Description=UART RTS/DTR button control

[Service]
Type=simple
EnvironmentFile=%h/.config/rrst.conf
ExecStart=/usr/local/bin/rrst -s $RRST_PORT
ExecStop=killall rrst
Restart=always
KillMode=control-group

[Install]
WantedBy=default.target
